body {
    font-family: Arial, Helvetica, sans-serif;
    width: 320px;
    margin: auto;
    background-color: black;
    padding:1rem;
}


.brand {
    font-size: larger;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: whitesmoke;
    padding:.4rem;
}

.editor {
    background-color: whitesmoke;
    padding:.2rem;
}



select {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

header {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

a {
    cursor: pointer;
    padding: 0.1rem;
}

a:hover {
    background-color: dodgerblue;
    color: white;
}

.row {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

input[type="checkbox"] {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Styling checkbox */
    width: 18px;
    height: 18px;
}

input[type="checkbox"]:checked {
    background-color: dodgerblue;
    border: 1px solid blue;
}

input[type="checkbox"]:hover {
    background-color: blue;
}